$fontDefault: 10px;

// ROOT CONFIGURATION
* {
	font-size: $fontDefault;
	margin: 0rem;
	padding: 0rem;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

// ROOT CONFIG

// TEXT AND FONTS
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fascinate Inline', Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 3.6em;
}
h2 {
	font-size: 3.2em;
}

ul {
	list-style: none;
}
li,
p,
span {
	font-size: inherit !important;
}
.text-large {
	font-size: 1.7em !important;
}
// TEXT AND FONTS

// BOX MODELS
.container {
	padding: 1rem;
	margin: auto;
}

@for $i from 0 through 5 {
	.m-#{$i} {
		margin: 1rem * $i;
	}
	.mt-#{$i} {
		margin-top: 1rem * $i;
	}
	.mb-#{$i} {
		margin-bottom: 1rem * $i;
	}
	.mr-#{$i} {
		margin-right: 1rem * $i;
	}
	.ml-#{$i} {
		margin-left: 1rem * $i;
	}
	.my-#{$i} {
		margin-top: 1rem * $i;
		margin-bottom: 1rem * $i;
	}
	.mx-#{$i} {
		margin-left: 1rem * $i;
		margin-right: 1rem * $i;
	}

	.p-#{$i} {
		padding: 1rem * $i;
	}
	.pt-#{$i} {
		padding-top: 1rem * $i;
	}
	.pb-#{$i} {
		padding-bottom: 1rem * $i;
	}
	.pr-#{$i} {
		padding-right: 1rem * $i;
	}
	.pl-#{$i} {
		padding-left: 1rem * $i;
	}
	.py-#{$i} {
		padding-top: 1rem * $i;
		padding-bottom: 1rem * $i;
	}
	.px-#{$i} {
		padding-left: 1rem * $i;
		padding-right: 1rem * $i;
	}
}
// BOX MODELS

// CUSTOM shit
#timeline {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	li {
		width: 80px;
		height: 80px;
		margin: 0px 2px 4px;
		padding-top: 8px;
		font-size: 1.4rem !important;
		text-align: center;
		border: 2px solid lightblue;
		border-radius: 6px;
		cursor: pointer;
		background-image: none;
		background-position: center center;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	li:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
}
#info-display {
	border: 2px solid #ccc;
	table {
		td {
			padding: 6px;
		}
		td:nth-child(odd) {
			font-weight: bold;
		}
	}
}
